<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">ShareIftar Partners</h1>
    <p class="lead">
      This is our dedicated space for all of our partners who have helped make ShareIftar possible.
      Without the dedication of these organisations and individuals many would go hungry in the month of Ramadan.
    </p>
    <hr class="my-4">
    <nav class="nav">
      <a class="nav-link" href="#charities">Charities</a>
      <a class="nav-link" href="#collectionPoints">Food centres</a>
      <a class="nav-link" href="#individuals">Individuals</a>
    </nav>
  </div>
</div>