---
title: ShareIftar Partners
---

<%= partial "components/_jumbotron" %>

<div class="container mb-5">

  <h2 class="mb-4">Charity partners</h2>

  <% [0, 1].each do | charity | %>
    <%= partial "components/_charity-card" %>
  <% end %>

  <h2 class="mt-4 mb-4">Collection point / food partners</h2>

  <% [0, 1].each do | charity | %>
    <%= partial "components/_collection-point-card" %>
  <% end %>

</div>



